<h1>Login</h1><br/>
Dont have user?<a href="/register">Click here</a><br /><br />
<form method="POST" action="">
Username : <input type="text" name="username"><br/>
Password : <input type="password" name="password"><br/>
<input type="submit" value="Login">
</form>
<div style="color:red">
 {{#if problems.errors}} 
<ul>
    {{#each problems.errors}}
    <li>{{ messages }}</li>
    {{/each}}
</ul>
{{else}}
{{problems}}
{{/if}}

</div>