<h1>Register</h1>

Already have user? <a href="/login">Click here</a><br /><br />
<form method="POST" action="/register">
Username : <input type="text" name="username"><br/>
Password : <input type="password" name="password"><br/>
Full-Name : <input type="text" name="name"><br/>
Email : <input type="text" name="email"><br/>
<input type="submit" value="Register">
</form>

<div style="color:red">
 {{#if problems.errors}} 
<ul>
    {{#each problems.errors}}
    <li>{{ messages }}</li>
    {{/each}}
</ul>
{{else}}
{{problems}}
{{/if}}

</div>